.hero{

    /* adding background image */
    /* background-image: url("../images/homepage04b.jpg"); */
    background-image: url("https://media1.thehungryjpeg.com/thumbs2/ori_3511749_b845b4bba9ebdc156b6fe58d3a3ce3e91e430233_retro-futuristic-background-80s-style.jpg");
    

    /* set the height of the Jumbotron */
    height: 450px;

    /* stretch the background image so it covers the entire jumbotron */
    background-size: cover;

    /* make sure the background does not repeat */
    background-repeat: no-repeat;

    /* set the background to be fixed so the page appears to scroll over it */
    background-attachment: fixed;
}

.test-style {
    font-weight: bold;
    color: rebeccapurple;
}


.card-img-top {
    height: 300px;
}

.reg-field-group {
    margin-top: 25px;
}

.card-img-top2 {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.card-body {
    text-align: center;
}

.img-border {
    background-color: #fff;
    padding: 4px;
}